<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Landing Page</title>
</head>
<body>
    <header id="side-menu-container">
        <button id="side-menu-button"></button>
        <div id="side-menu">
            <button class=""></button>
        </div>
    </header>


    <div id="main-container">
        <section id="main-info-container">
            <div id="logo-container">GETCASE</div>
            <div id="search-bar-container"></div>
            <div id="top-cases-container">
                <div id="top-cases-title">Посмотреть варианты из топ компаний</div>
                <div id="top-cases"></div>
            </div>
        </section>

        <section id="all-cases-container">
            
            <div class="caseCard">
                <div class="caseCardColor"></div>
                <div class="caseCardHeader">
                    <div class="caseCardCompany">
                        <img src="" alt="cimg">
                        <p>company</p>
                    </div>
                    <div class="caseCardTech">
                        <p>Tech</p>
                    </div>
                </div>
                <div class="caseCardBody">Description</div>
                <div class="caseCardAdditional">
                    <div class="caseCardAdditionalTime">
                        <img src="" alt="timer">
                        <p>Time due</p>
                    </div>
                    <div class="caseCardAdditionalPeople">
                        <img src="" alt="people">
                        <p>42 participants</p>
                    </div>
                </div>
                <button>Get the Case!</button>
            </div>

            <div class="caseCard">
                <div class="caseCardColor"></div>
                <div class="caseCardHeader">
                    <div class="caseCardCompany">
                        <img src="" alt="cimg">
                        <p>company</p>
                    </div>
                    <div class="caseCardTech">
                        <p>Tech</p>
                    </div>
                </div>
                <div class="caseCardBody">Description</div>
                <div class="caseCardAdditional">
                    <div class="caseCardAdditionalTime">
                        <img src="" alt="timer">
                        <p>Time due</p>
                    </div>
                    <div class="caseCardAdditionalPeople">
                        <img src="" alt="people">
                        <p>42 participants</p>
                    </div>
                </div>
                <button>Get the Case!</button>
            </div>

        </section>
    </div>

    <script>
        const menuBtn = document.getElementById("side-menu-button");
        menuBtn.addEventListener("click", () => {
            
        });
    </script>
</body>
</html>